
.conUsb{
    font-weight: 100;
}

.conUsa {
    color: white
}

.conUs {
    background-color: #4A2815;
    color: white;
    width: 800px;
    height: 500px;
    float: left;
    /* margin: 200px; */
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 100px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100px;
    font-size: 32px;
    /* margin-right: 500px;
margin-left: 100px;
margin-top: 100px;
min-height: 200px;
padding-left: 10px; */
}

/* img {
    float: left;
    margin-top: 200px;
    width: 500px;
    height: 600px;
} */

.necklaceContactUsGirl{
    float: left;
    margin-top: 200px;
    width: 500px;
    height: 600px;
}

