.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}

#Products > div.row.mx-auto.container > nav > ul > li.page-item.active > a{
    background-color: #f0caa3;
}

#Products > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
    background-color: #f0caa3;
    color: white;

}

.pagination a{
    color: black;
}