.leftside, .rightside {
	height: 175vh;
	width: 80%;
	background-color: #f3dbc3;
}

h1{
	color: #4A2815;
}

label{
	font-size:22px;
	color: #4A2815;
}

input{
	font-size:20px;
	width: 570px; 
    background-color: white;
	color: #4A2815;
}

.leftpadding{
	margin-left: 75px;
}