.leftside, .rightside {
	height: 130vh;
	width: 100%;

	background-color: #eaccad;
}

h1{
	color: #804000;
}

label{
	font-size:22px;
	margin-left: 50px;
	color: #804000;
}

p{
	margin-left: 50px;
}

 input{
	width: 400px; 
    margin-left: 50px;
    background-color: #f3dbc3;
	color: black;
}

button{
    margin-left: 50px;
    background-color: #804000;
	color: white;
}