.leftside, .rightside {
	height: 100vh;
	width: 100%;
    padding-left: 50px;
}
h1{
	color: #804000;
}

label{
	font-size:22px;
	
	margin-left: 50px;
	color: #804000;
}

p{
	margin-left: 50px;
}

 input{
	width: 800px; 
    margin-left: 50px;
    background-color: #f3dbc3;
	color: white;
}

button{
    margin-left: 50px;
    background-color: #804000;
	color: white;
}

.tab {
    display: inline-block;
    margin-left: 50px;
}