.leftside, .rightside {
	height: 140vh;
	width: 100%;
	background-color: #4A2815;
}

h1{
	color: #f3dbc3;
}

label{
	font-size:22px;
	margin-left: 75px;
	color: #f3dbc3;
}

p{
	margin-left: 75px;
}

 input{
	font-size:20px;
	width: 500px; 
    margin-left: 75px;
    background-color: #f3dbc3;
	color: #4A2815;
}

but{
    margin-left: 75px;
}